@charset "UTF-8";

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-block: 1em;

    background: white;
}

header .logo {
    width: clamp(5rem, 15vw, 8rem);
}

header nav {
    display: flex;
    gap: 0.5em;
}

header nav a {
    padding: 0.5em;

    font-weight: 400;
    color: #9597a5;
}

header nav a:hover {
    color: black;
    transform: scale(1.15);
}
