@charset "UTF-8";

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

#requestinvite{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 447px;
    height: 316px;
    margin-top: 240px;
    margin-left: 120px;
}

#requestinvite h1{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    letter-spacing: -1px;
    color: #2D314D;
}

#requestinvite p{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.28125px;
    color: #9597A5;
}

#requestinvite input{
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    border-style: none;
    width: 163px;
    height: 44px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

#cellphonesview {
    z-index: 1;
    background-image: url(../images-index/bg-intro-desktop.svg);
}

#aligncel{
    z-index: 1;
    transform: translate(130px, -25px);
}