footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    background-color: #000000;
}

#footerstart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 140px;
    gap: 1.2rem;
}

.alignlist{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.alignlist li a{
    position: relative;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
}

.alignlist li a{
    text-decoration: none;
}

.alignlist li a::after{
    display: block;
    position: absolute;
    content: "";
    background-color: white;
    height: 2px;
    width: 0;
    transition: 0.8s;
}

.alignlist li a:hover::after{
    width: 100%;
}

#centerfooter{
    display: flex;
    flex-direction: row;
}

#finalfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#finalfooter > p{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: translateX(-121px);
}
