main {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    background: #F2F2F2;
    height: 550px;
    width: 100%;
}

#centermain{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1216px;
    height: 500px;
    right: -120px;
}

#textmain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 480px;
    height: 200px;
    background-color: #F2F2F2;
    padding: 40px 40px;
    z-index: 2;
    left: -180px;
    bottom: -132px;
    position: relative;
}

#textmain > h1{
    width: 420px;
    height: 96px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    text-transform: uppercase;
    color: #000000;
}

#textmain > p{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
