@charset "UTF-8";

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding: 0;
    margin: 0;
}

@media (max-width: 600px){

    #getstarted{
        margin-left: 10px;
    }
    #containertext {
        margin-left: 80px;
        width: 100%;
    }

    #container > h1{
        width: 50%;
    }

    #containertext > p{
        margin-right: 30px;
        width: 80%;
    }

    #containertext > input{
        margin-right: 70px;
    }

    #imghero{
        width: 0%;
    }

    section{
        margin-left: 50px;
    }

    .linecard{
        flex-wrap: wrap;
    }

}