@charset "UTF-8";

#button1{
    margin-top: 10px;
    width: 43px;
    height: 18px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border-style: none;
    color: white;
}

#button2{
    width: 137px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 28px;
    border-style: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FF505C;
}

#button3{
    width: 137px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 28px;
    border-style: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FF505C;
}

#button4{
    width: 137px;
    height: 48px;
    background: transparent;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 28px;
    border-style: normal;
    border-color: rgb(255, 255, 255);
    color: white; 
}

#navbuttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}


#buttonsmidheader{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}