@charset "UTF-8";

/* Header */

header {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 400px;
    width: 100%;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    border-radius: 0px 0px 0px 100px;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav > div{
    margin-top: 10px;
}

#navlist {
    display: flex;
    flex-direction: row;
}

#navlist ul{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

li {
    list-style: none;
}

li > a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    color: #FFFFFF
}

/* Menu */

#menu ul li{
    display: inline;
    position: relative;
}

#menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

#menu ul li a:hover {
    background-color: transparent;
}

/* Sub Menu */

#menu ul ul{
    display: none;
    position: absolute;
}

#menu ul li:hover ul{
    display: block;
}

#menu ul ul {
    background-color: white;
    border-radius: 16px;
    width: 100px;
}

#menu ul ul li a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #2D2E40;
    display: block;
}

#menu ul ul li a:hover{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #2D2E40;
}