@charset "UTF-8";

/* Main */

main{
    overflow: hidden;
}
main > h1{
    font-family: 'Overpass SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -1.92px;
    color: #FFFFFF;

}

#containermain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containertext{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    gap: 1.5rem;
}

.contianertext > h1{
    font-family: 'Overpass SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

.containertext > p{
    max-width: 540px;
    max-height: 154px;
    font-family: 'Overpass Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #4C5862;
}

#circlemain{
    transform: translateY(-40px);
}

#circlemain > img{
    transform: translateX(350px);
}

/* Middle of header */

#midheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

}

#midheader > h1{
    font-family: 'Overpass SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -1.92px;
    color: white;
    text-align: center;
}

#midheader > p{
    font-family: 'Overpass Light';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}