@import "/css/global.css";
@import "/css/components/header.css";
@import "/css/components/invite-button.css";
@import "/css/components/footer.css";

section :is(h1, h2, h3) {
    font-weight: 300;
    color: #2d314d;
}

section p {
    font-weight: 400;
    color: #9597a5;
}

section.hero {
    display: grid;
    grid-template-columns: 1fr 20rem;
    align-items: center;

    padding-block: 3rem;
}

section.hero .text-wrap {
    justify-self: center;

    width: clamp(20rem, 50vw, 45rem);

    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 1.5rem;
}

section.hero h1 {
    font-size: 2.5rem;
}

section.hero p {
    font-size: 1.2rem;
}

section.hero .img-background {
    width: 100%;
    background-image: url(../images-index/bg-intro-desktop.svg);
    background-size: cover;
}

section.hero img {
    width: 100%;
}

section.why {
    display: grid;
    place-items: center;

    padding-block: 5rem;

    background-color: #f4f5f7;
}

section.why .inner {
    width: min(75vw, 60rem);

    display: flex;
    flex-flow: column;
    gap: 1.5em;
}

section.why .cards {
    align-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1.5em;

    list-style: none;
}

section.why .card {
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 1em;

    padding: 1em;
    border-radius: 0.5em;
    border: 2px solid lightgray;
    }
