.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 349px;
    height: 214px;
}

.card > h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF
}
.card > p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
}

.linecard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.linecard2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.card2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 360px;
    height: 200px;
    background: #202A3C;
    border-radius: 3.93258;
    box-shadow: 5px 5px 8px 4px rgba(19, 19, 19, 0.099)
}

.card2 > p{
    padding: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#profile{
    margin-top: 140px;
    margin-left: 30px;
    width: 140px;
    height: 26px;
    position: absolute;
}

.profile > img{
    border-radius: 50%;
    margin-left: 20px;
    width: 24px;
    height: 24px;
}

.profile > h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transform: translateY(-30px);
    margin-left: 60px;
}

.profile > p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8.5px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-left: 60px;
    transform: translateY(-25px);
    
}